.tileContainer {
  width: 14.6vmin;
  height: 14.6vmin;
  padding: 0;
  margin: 0;
}

.tileContainer .tileButton {
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: relative;
  background: transparent;
  transform-style: preserve-3d;
  perspective: 5000px;
}

.tile {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  font-size: 4.8vmin
}

.tileOne {
  background: #959595;
  position: absolute;
  top: 0;
  left: 0;
}

.tileTwo {
  background: #f5ce42;
  position: absolute;
  top: 0;
  left: 0;
}

.tileThree {
  background: #47d147;
  position: absolute;
  top: 0;
  left: 0;
}

.tileComplete {
  background: #FFF;
  position: absolute;
  top: 0;
  left: 0;
}

.unclickable {
  filter: brightness(85%);
  color: black;
  position: absolute;
}

.clickable {
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  position: absolute;
}

@keyframes pulse {
  50% {
    box-shadow: inset 0 0 2vmin #ffd700;
  }
}


.first-transition-enter {
  transform: rotateY(180deg);
}
.first-transition-enter-active {
  transition: all 1000ms ease;
  transform: rotateY(0deg);
}
.first-transition-enter-done {
  transform: rotateY(0deg);
}
.first-transition-exit {
  transform: rotateY(0deg);
}
.first-transition-exit-active {
  transform: rotateY(180deg);
  transition: all 1000ms ease;
}
.first-transition-done {
  transform: rotateY(0deg);
}

.second-transition-enter {
  transform: rotateX(180deg);
}
.second-transition-enter-active {
  transition: all 1000ms ease;
  transform: rotateX(0deg);
}
.second-transition-enter-done {
  transform: rotateX(0deg);
}
.second-transition-exit {
  transform: rotateX(0deg);
}
.second-transition-exit-active {
  transform: rotateX(180deg);
  transition: all 1000ms ease;
}
.second-transition-done {
  transform: rotateY(0deg);
}

.grid {
  justify-items: center;
  justify-content: center;
}

.center {
  text-align: center;
  margin: auto;
  width: 50%;
}

