.unclickable {
  border-style: none;
  color: #555;
}

.clickable {
  border-style: solid;
  border-color: red;
  border-width: 0.8vmin;
  color: black;
}

.zeroStrike {
  background: #959595;
}

.oneStrike {
  background: #f5ce42;
}

.twoStrike {
  background: #47d147;
}

.threeStrike {
  background: white;
}

.grid {
  justify-items: center;
  justify-content: center;
}

.center {
  text-align: center;
  margin: auto;
  width: 50%;
}
